@model IEnumerable<OrgPortal.Domain.Models.Category>

<div class="left">
    <div class="heading">Categories <button id="addCategoryButton" class="button">Add</button></div>
    <div id="addCategoryForm" style="display:none;">
        <div class="subHeading">Add Category</div>
        <div class="formLabel">Name</div>
        <input type="text" name="name" />
        <input type="hidden" name="id" />
        <button id="addCategorySaveButton" class="button">Save</button>
        <button id="addCategoryCancelButton" class="cancelButton">Cancel</button>
    </div>
    <div class="subHeading">Category List</div>
    <table>
        <tr>
            <th style="display:none;"></th>
            <th class="gridHeader">Name</th>
            <td class="gridHeader">Apps</td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div id="categoryTable">
        @foreach (var category in Model)
        {
            <table class="tableBorder">
                <tr >
                    <td style="display:none;">@category.ID</td>
                    <th>@category.Name</th>
                    <td>@category.Applications.Count()</td>
                    <td class="edit">Edit</td>
                    @if (category.Applications.Count() > 0)
                    {
                        <td class="deleteDisabled" title="All apps must be removed (0) before category can be deleted.">Delete</td>
                    }
                    else
                    {
                        <td class="delete">Delete</td>
                    }
                </tr>
            </table>
        }
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).on('click', '#addCategoryButton', function () {
            $('#addCategoryForm input[name=name]').val('');
            $('#addCategoryForm input[name=id]').val(0);
            $('#addCategoryForm').slideDown(400, function () {
                $('#addCategoryForm input[name=name]').focus();
            });
        });

        $(document).on('click', '#addCategorySaveButton', function () {
            $.post('@Url.Action("Category")', { id: $('#addCategoryForm input[name=id]').val(), name: $('#addCategoryForm input[name=name]').val() })
             .fail(function (result) { showWarning('Failed to save category.'); })
             .done(function (result) {
                 if (parseInt($('#addCategoryForm input[name=id]').val()) > 0) {
                     $('#categoryTable table tr td').filter(function () { return $(this).text() == result.ID; }).next('th').text(result.Name);
                 } else {
                     $('<table class="tableBorder" style="display:none;">' +
                       '<tr>' +
                       '<td style="display:none;">' + result.ID + '</td>' +
                       '<th>' + result.Name + '</th>' +
                       '<td>0</td>' +
                       '<td class="edit">Edit</td>' +
                       '<td class="delete">Delete</td>' +
                       '</tr>' +
                       '</table>').appendTo('#categoryTable').slideDown();
                 }
                 $('#addCategoryForm').slideUp(400, function () {
                     $('#addCategoryForm .subHeading').text('Add Category');
                     $('#addCategoryForm input[name=name]').val('');
                     $('#addCategoryForm input[name=id]').val(0);
                     showWarning('Category saved.');
                 });
             });
        });

        $(document).on('click', '#addCategoryCancelButton', function () {
            $('#addCategoryForm').slideUp(400, function () {
                $('#addCategoryForm input[name=name]').val('');
                $('#addCategoryForm input[name=id]').val(0);
            });
        });

        $(document).on('click', '.edit', function () {
            $('#addCategoryForm .subHeading').text('Manage Category');
            $('#addCategoryForm input[name=id]').val($(this).closest('tr').find('td:eq(0)').text());
            $('#addCategoryForm input[name=name]').val($(this).closest('tr').find('th:eq(0)').text());
            $('#addCategoryForm').slideDown(400, function () {
                $('#addCategoryForm input[name=name]').focus();
            });
        });

        $(document).on('click', '.delete', function () {
            var element = $(this);
            $.post('@Url.Action("Delete")', { id: $(this).closest('tr').find('td:eq(0)').text() })
             .fail(function (result) { showWarning('Failed to delete category.'); })
             .done(function (result) {
                 element.closest('table').slideUp(400, function () {
                     $(this).remove();
                     showWarning('Category deleted.');
                 });
             });
        });

        $(document).on('keypress', '#addCategoryForm input[name=name]', function (e) {
            if (e.keyCode == 13) { $('#addCategorySaveButton').trigger('click'); }
        });
    </script>
}