@model IEnumerable<OrgPortal.Domain.Models.Application>

<div>
    <h2>Upload</h2>
    @using (Html.BeginForm("Application", "Applications", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label>Application</label>
        <input type="file" name="appxFile" />
        <label>Category</label>
        <select name="categoryID">
            @foreach (var category in OrgPortal.Domain.IoCContainerFactory.Current.GetInstance<OrgPortal.Domain.Repositories.CategoryRepository>().Categories)
            {
                <option value="@category.ID">@category.Name</option>
            }
        </select>
        <input type="submit" value="Save" />
    }
</div>

<div>
    <h2>Application List</h2>
    @if (Model.Count() == 0)
    {
        <h3>You currently have no applications in your store.</h3>
        <p>Please add your first application to your store.</p>
    }
    <table id="applicationTable" @(Model.Count() > 0 ? string.Empty : "style=display:none;")>
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Date Added</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var application in Model)
            {
                <tr>
                    <td>@application.Name</td>
                    <td>@application.Category.Name</td>
                    <td>@application.DateAdded</td>
                    <td>@*<button class="delete">Delete</button>*@</td>
                </tr>
            }
        </tbody>
    </table>
</div>