@model IEnumerable<OrgPortal.Domain.Models.Application>

<div class="left">
    <div class="heading">Upload</div>
    @if (OrgPortal.Domain.IoCContainerFactory.Current.GetInstance<OrgPortal.Domain.Repositories.CategoryRepository>().Categories.Count() > 0)
    {
        using (Html.BeginForm("Application", "Applications", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="formLabel">Application</div>
            <input type="file" name="appxFile" class="formInput">
            <div class="formLabel">Category</div>
            <select name="categoryID">
                @foreach (var category in OrgPortal.Domain.IoCContainerFactory.Current.GetInstance<OrgPortal.Domain.Repositories.CategoryRepository>().Categories)
                {
                    <option value="@category.ID">@category.Name</option>
                }
            </select>
            <div class="formLabel">Install Mode</div>
            <select name="installMode">
                <option>AutoUpdate</option>
            </select>
            <div class="pageButton">
                <input type="submit" name="submit" value="Save" id="submit2" class="button" />
            </div>
        }
    }
    else
    {
        <p>You have no categories.  Please @Html.ActionLink("add a category", "Index", "Categories") before adding an application.</p>
    }
</div>
<div class="right">
    <div class="heading">Application List</div>
    <div id="noApplicationsMessage" @(Model.Count() > 0 ? "style=display:none;" : string.Empty)>
        <div class="subHeading">You currently have no applications in your store.</div>
        <p>Please add your first application to your store.</p>
    </div>
    <table id="applicationTable" @(Model.Count() > 0 ? string.Empty : "style=display:none;")>
        <thead>
            <tr>
                <th style="display:none;"></th>
                <th>Name</th>
                <th>Version</th>
                <th>Category</th>
                <th>Date Added</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var application in Model)
            {
                <tr>
                    <td style="display:none;">@application.PackageFamilyName</td>
                    <td>@application.Name</td>
                    <td>@application.Version</td>
                    <td>@application.Category.Name</td>
                    <td>@application.DateAdded.ToShortDateString()</td>
                    <td><button class="delete">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).on('click', 'button.delete', function () {
            var element = $(this);
            $.post('@Url.Action("Delete")', { id: $(this).closest('tr').find('td:eq(0)').text() })
             .fail(function (result) { showWarning('Failed to delete application.'); })
             .done(function (result) {
                 element.closest('tr').slideUp(400, function () {
                     $(this).remove();
                     showWarning('Application deleted.');
                     if ($('#applicationTable tbody tr').length == 0) {
                         $('#applicationTable').slideUp(400, function () {
                             $('#noApplicationsMessage').slideDown();
                         });
                     }
                 });
             });
        });
    </script>
}