<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>OrgPortal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <h1>OrgPortal</h1>
        <nav>
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>Manage Store
                    <ul>
                        <li>@Html.ActionLink("Features", "Index", "Features")</li>
                        <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                        <li>@Html.ActionLink("Branding", "Index", "Admin")</li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    @RenderBody()

    <footer></footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
