@using (Html.BeginForm("Branding", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="left">
        <div class="heading">Branding</div>
        <div class="formLabel">Name</div>
        <input type="text" name="name" class="formInput" value="@OrgPortal.Domain.Configuration.BrandingName" />
        <br />
        <br />
        <div class="formLabel">Logo</div>
        <div class="text">200 pixels x 60 pixels .png</div>
        <input type="file" name="logo" class="formInput" />
        <img id="logoPreview" src="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(OrgPortal.Domain.Configuration.BrandingLogo))" />
        <br />
        <br />
        <div class="formLabel">Image Header</div>
        <div class="text">1366 pixels x 48 pixels .png</div>
        <input type="file" name="header" class="formInput" />
        <img id="headerPreview" style="width:683px;height:24px;" src="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(OrgPortal.Domain.Configuration.BrandingHeader))" />
    </div>
    <div class="right">
        <div class="theme">
            <div class="subHeading">Select Theme Color</div>
            <div class="formLabel">Primary Color</div>
            <div class="text">(for outlines, buttons, icons)</div>
            <input type="text" name="primaryColor" class="formInputSmall" value="@OrgPortal.Domain.Configuration.BrandingPrimaryColor" />
            <div class="themeColor">
                <div class="formLabel">Secondary Color</div>
                <div class="text">(for hover on buttons and links)</div>
                <input type="text" name="secondaryColor" class="formInputSmall" value="@OrgPortal.Domain.Configuration.BrandingSecondaryColor" />
            </div>
        </div>
    </div>
    <div class="pageButtonBranding">
        <input type="button" name="submit" value="Preview" id="brandingPreviewButton" class="previewButton" />
        <input type="submit" name="submit" value="Save" id="brandingSaveButton" class="button" />
    </div>
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('input[name=primaryColor], input[name=secondaryColor]').ColorPicker({
                onSubmit: function (hsb, hex, rgb, el) {
                    $(el).val(hex);
                    $(el).ColorPickerHide();
                },
                onBeforeShow: function () {
                    $(this).ColorPickerSetColor(this.value);
                }
            }).bind('keyup', function () {
                $(this).ColorPickerSetColor(this.value);
            });

            $('input[type=file]').change(function () {
                var input = this;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $(input).next('img').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            });
        });

        $(document).on('click', '#brandingPreviewButton', function (e) {
            window.open('/Admin/Preview', 'previewPane', 'scrollbars')
            e.preventDefault();
            return false;
        });

        var getElement = function (selector) {
            return $(selector);
        };
    </script>
}